* {
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 300px;
    height: 100vh;
}
main {
    width: calc(100% - 300px);  
    min-height: calc(100vh - 100px);
    margin-bottom: 100px;
    background-image: linear-gradient(
        30deg,
        #108dc7,
        #ef8e38
    );
}
footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: linear-gradient(
        30deg,
        #D3CCE3,
        #E9E4F0
    );
}
a {
    text-decoration: none;
}
a:hover{
    text-transform: uppercase;
}